*{
    box-sizing: border-box;
  }
  
  h1{
    text-align: center;
    margin: 0px 0 10px;
    line-height: 1.3em;
    color: #212121;
    font-weight: normal;
  }
  
  body{
    font-family: sans-serif;
    background-color: #6ed6f3;
  }
  
  .wrap{
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #FFF;
    border-radius: 20px;
    border: 7px solid #29b3da;
  }
  
  select#countries{
    font-size: 1.5em;
    height: 2em;
    width: 100%;
  }
  
  .population{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
  }